.section1 input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    background: #f0f0f0;
    border: none;
    border-radius: 0;
    resize: vertical;
}
.section1 label {
    margin: 0;
    color: #000000;
    font-size: 14px;
}
.section1 .form-control {
    width: 100%;
    padding: 12px;
    border: none;
    background: #f0f0f0;
    border: none;
    border-radius: 0;
    resize: vertical;
}
.section1 h2 {
    text-transform: uppercase;
    color: #1b52e8;
    font-size: 15px;
}
.section1 {
    padding: 2% 1%;
}
.section1 .btn {
    background: #e8a71b;
    padding: 5px 35px;
    border-radius: 100px;
    color: rgb(24, 23, 23);

}
.map {
    border: 4px solid #f39e1f;
}
.info {
    margin: 4% 3%;
}
.info .contact {
    margin: 3% 0;
}
.info .contact h3 {
    font-size: 15px;
    font-weight: bold;
    color: #0eb1f1;
    margin: 0;
}
.con1 {
    margin: 20px 0;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
}